.layout {
  height: 100vh;
}

.container-box {
  overflow-y: hidden;
  width: 95%;
  max-height: 25rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}
.container-table {
  overflow-y: scroll;
  width: 100%;
  background-color: white;
  border-radius: 1rem;
}

.create-user-button-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.create-user-button {
  height: 3rem;
  width: 3rem;
}

.create-user-icon {
  height: 3rem;
  width: 3rem;
}
